<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="local_connection_string9" connectionString="Data Source=CHASI-FS01-TERM\SQLEXPRESS2014;Initial Catalog=CD_Reports;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="local_connection_string1" connectionString="Data Source=CHASIDB\CHASIDB;Initial Catalog=CD_Reports;Integrated Security=True" />
        <add name="CD_Reports.My.MySettings.local_connection_string7"
            connectionString="Data Source=CHASI-FS01-TERM\SQLEXPRESS2014;Initial Catalog=CD_Reports;Integrated Security=True" />
        <add name="CD_Reports.My.MySettings.local_connection_string8"
            connectionString="Data Source=CHASIDB\CHASIDB;Initial Catalog=CD_Reports;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CD_Reports.My.MySettings.local_connection_string9"
            connectionString="Data Source=Vajra-Omen\SQLEXPRESS;Initial Catalog=CD_Reports;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="local_connection_string" connectionString="Data Source=Vajra-Surface\SQLEXPRESS;Initial Catalog=TestCSD1;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CD_Reports.My.MySettings.local_connection_string4"
            connectionString="Data Source=WATEROVERWIND\SQLEXPRESS01;Initial Catalog=CD_Reports;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CD_Reports.My.MySettings.local_connection_string5"
            connectionString="Data Source=CHASI-FS01-TERM\SQLEXPRESS2014;Initial Catalog=CD_Reports;Integrated Security=True" />
        <add name="CD_Reports.My.MySettings.local_connection_string6"
            connectionString="Data Source=WATEROVERWIND\SQLEXPRESS01;Initial Catalog=CD_Reports;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CD_Reports.My.MySettings.local_connection_string"
            connectionString="Data Source=Vajra-Surface\SQLEXPRESS;Initial Catalog=TestCSD1;Integrated Security=True" />
        <add name="CD_Reports.My.MySettings.local_connection_string1"
            connectionString="Data Source=Vajra-Omen\SQLEXPRESS;Initial Catalog=CD_Reports;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CD_Reports.My.MySettings.CSD1ConnectionString" connectionString="Data Source=VAJRA-SURFACE\SQLEXPRESS;Initial Catalog=CSD1;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>