<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
  <appSettings>
    
    <add key="TraceFile_surface" value="C:\Users\erico\Documents\SDOH_Trace.txt" />
    <add key="TraceFile_hosted_apps" value="X:\Trace Files\PPS_SDOH_InteropErrorLog.txt" />
    <add key="TraceFile_vajrab" value="C:\Users\Eric\Documents\SDOH_Trace.txt" />
    <add key="computer" value="hosted_apps" />

  </appSettings>
  
    <connectionStrings>
        <add name="connection_string_vajrab" connectionString="Data Source=VAJRAB\SQLEXPRESS;Initial Catalog=CSD1;Integrated Security=True" providerName="System.Data.SqlClient" />
        <add name="connection_string_hosted_apps" connectionString="Data Source=CHAWSSQLV01;Initial Catalog=CSD1;Integrated Security=True" providerName="System.Data.SqlClient" />
        <add name="connection_string_surface" connectionString="Data Source=VAJRA-SURFACE\SQLEXPRESS;Initial Catalog=TestCSD1;Integrated Security=True" providerName="System.Data.SqlClient" />
    </connectionStrings>
  
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>